<!DOCTYPE html>
html{
  background-color: MistyRose;
  font-stretch: expanded;
}
input{
  background-color: MistyRose;
  font-size: 30px;
  font-family: "American Typewriter Light", serif;
  text-emphasis-color: "GoldenRod";
  font-stretch: expanded;
}
body {
  background-color: MistyRose;
  font-family: "American Typewriter Light",serif;
  font-size: 30px;
  font-stretch: expanded;
}
text{
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  font-size: 30px;
  font-stretch: expanded;
}
h1 {
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  font-size: 50px;
  line-height: 10px;
  }
h2 {
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  font-size: 30px;
}
h3 {
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  font-size: 30px;
  }
ol {
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  font-size: 30px;
  font-stretch: expanded;
  }
ul {
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  font-size: 30px;
  font-stretch: expanded;
  }
li {
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  border-color: MistyRose;
  font-size: 30px;
  font-stretch: expanded;
  }
p {
  color: GoldenRod;
  background-color: MistyRose;
  font-family: "American Typewriter Light", serif;
  font-size: 30px;
  font-stretch: expanded;}
textarea {
  color: GoldenRod;
  font-family: "American Typewriter Light", serif;
  font-size: 30px;
  font-stretch: expanded; }
}

  @media screen and (max-width:600px) (
    .column (
      width:100%
      )
    )
{
      box-sizing: border-box;  }
