body, html {
  height: 100%;
  margin: 0;
  font-family: Garamond, Times;
  background color: "White"
  color: "Black"
}

.tablink {
  background-color: "White";
  color: "Black";
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: "White";
}

.tabcontent {
  color: "Black";
  display: none;
  padding: 100px 20px;
  height: 100%;
}
input{
  color: "black"
}
form{
  color: "black"
  border: "black"
  center: middle
}

#Home {background-color: "GoldenRod";}
#News {background-color: "GoldenRod";}
#Contact {background-color: "GoldenRod";}
#About {background-color: "GoldenRod";}
