main, html {
  height: 100%;
  margin: 0;
  font-family: Garamond, Times;
  background color: MistyRose;
}
body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
h1 {
  font-size: 60px;
  color: GoldenRod;
  text-align: center;
  background-color: MistyRose;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
h5 {
  font-size: 20px;
  color: GoldenRod;
  border: thin, wavy;
}
h3 {
  font-size: 30px;
  color: GoldenRod
}
label {
  color: Black
}
input {
  color: black;
  background-color: MistyRose
}
textarea {
  color: black
}

.tablink {
  background-color: GoldenRod;
  color: Black;
  float: left;
  border-collapse: separate;
  border-spacing:2px;
  border-style: solid;
  border-width:thin;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 33.3%;
}

.tablink:hover {
  background-color: GoldenRod;
}

.tabcontent {
  background-color: MistyRose;
  display: none;
  padding: 100px;
  height: 100%;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.iframe {
  align: center;
}
#Home {background-color: "GoldenRod";}
#News {background-color: "GoldenRod";}
#Contact {background-color:"GoldenRod";}
#About {background-color: "GoldenRod";}
